html, body {
  margin: 0;
}

header {
  height: 100px;
  line-height: 100px;
  background: #545454;
  padding: 0 1em;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
}

nav {
  background: #e0e0e0;
}

nav ul {
  padding: 10px 20px;
}

nav ul a li {
  list-style: none;
}

article {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
}
