@charset "UTF-8";

html, body {
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 100px;
  line-height: 100px;
  background: #545454;
  padding: 0 1em;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
}

nav {
  background: #e0e0e0;
}

nav ul {
  padding: 10px 20px;
}

nav ul a li {
  list-style: none;
}

article {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

section h1 {
  margin: 5px 0;
  padding-left: 10px;
  border-left: 20px solid #545454;
  font-size: 1.5em;
}

.to_top {
  margin: 15px auto;
  padding: 0 10px;
  text-align: right;
}

.to_top a {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background: #303030;
  color: #ffffff;
}

footer {
  height: 200px;
  padding-top: 30px;
  background: #545454;
  color: #ffffff;
  text-align: center;
}
