@charset "UTF-8";

html, body {
  margin: 0;
}

main {
  maragin: 10px auto 0;
  min-width: 680px;
  max-width: 960px;
  display: table;
}

body{
  background: #FFFFFF;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  height: 100px;
  line-height: 100px;
  background: #545454;
  padding: 0 1em;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
}

nav {
  background: #e0e0e0;
}

nav ul {
  padding: 10px 20px;
}

nav ul a li {
  list-style: none;
}

article {
  margin-top:  0 10px 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #f7f7f7;
}

section h1 {
  margin: 5px 0;
  padding-left: 10px;
  border-left: 20px solid #545454;
  font-size: 1.5em;
}
